#cabecera {
    background-color: beige;
    border: 1px solid;
    text-align: center;
}

#izq {
    float: left;
    background-color: rgb(167, 119, 212);
    width: 20%;
    padding: 1em;
}

#der {
    float: right;
    width: 75%;
    padding: 1em;
    background-color: rgb(88, 192, 233);
}

.border {
    border: 1px solid white;
    padding: 1em;
}

#img1 {
    float: right;
    width: 25%;
    margin: 1em;
}

#img1>img {
    width: 100%;
}

#img2 {
    float: right;
    width: 25%;
    margin: 1em;
}
#img2 > img{
    width: 100%;
}

#img3 {
    float: left;
    width: 25%;
    margin: 1em;
}
#img3 > img{
    width: 100%;
}

#img4 {
    float: right;
    width: 25%;
    margin: 1em;
}
#img4 > img{
    width: 100%;
}

#img5 {
    float: right;
    width: 25%;
    margin: 1em;
}
#img5 > img{
    width: 100%;
}

#img6 {
    float: left;
    width: 25%;
    margin: 1em;
}
#img6 > img{
    width: 100%;
}