#Uno {
    background-color: yellow;
    width: 100%;

}

#Dos {
    background-color: blue;
    width: 50%;

}

#Tres {
    background-color: red;
    width: 50%;

}

#Cuatro {
    background-color: green;
    width: 50%;

}