h1{
    color: red;
    font-size: 4em;
}
h2{
    color: red;
    font-size: 3em;
}
h3{
    color: red;
    font-size: 2em;
}

/* Apartado dos */
/* Regla 1 */
.estilo{
    color: blue;
    text-align: center;
    font-style: italic;
    font-family: Arial;
}
/* Regla 2 */
#estilo{
    color: blueviolet;
    text-align: center;
}